.button-container {
  padding: 5px 15px;
  margin: 0px 10px;

  border: 2px solid black;
  background-color: rgba(255, 255, 255, 1);

  display: flex;
  align-items: center;
  cursor: pointer;

  transition: 0.2s all ease-in-out;
}

.button-icon {
  margin-left: 10px;
  transition: all 0.2s ease-in-out 0s;
}

.button-text {
  margin: 0px;
  color: black;
  transition: 0.2s color ease-in-out;
}

.button-container:hover {
  background-color: black;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.button-container:hover>.button-text,
.button-container:hover>.button-icon {
  color: white;
}

/* Background Styles */
.background-button {
  margin-top: 40px;
  padding: 15px 25px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px 0px, rgba(0, 0, 0, 0.04) 0px 1px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 5px 0px;
}

.background-button-text {
  font-weight: 600;
}

.button-container:hover>.trans-down {
  transform: translateY(4px);
}

.button-container:hover>.trans-right {
  transform: translateX(4px);
}