.input-container {
  position: relative;
  margin-bottom: 5px;
  padding-top: 20px;
}

label {
  position: absolute;
  left: 0px;
  top: 5px;

  transition: all 0.1s linear;
  opacity: 0;

  font-weight: bold;
  font-size: 0.8em;
}

.label-show {
  top: 0px;
  opacity: 1;
}

input {
  border-radius: 0px;
  width: 100%;
  padding: 14px 16px;
  background: #F7F7F7;
  box-sizing: border-box;
  border: none;
  margin-bottom: 5px;
}

input:focus {
  outline: 2px solid black;
}