.map-container {
  position: relative;
  height: 80vh;
  width: 100%;
}

.map-button {
  position: absolute;
  font-size: 26px;
  font-weight: 300;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  padding: 15px;
  border-radius: 2px;
  color: white;
  border: 2px solid white;
  background-color: #2e2e2e;
  text-decoration: none;
  user-select: none;

  transition: all 0.3s ease;
  cursor: pointer;
}

.map-button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}


.map-marker {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  transform: translate(-50%, -100%);
}

.marker-window {
  display: flex;
  flex-direction: column;
  width: 240px;

  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px, rgba(0, 0, 0, 0.01) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
  background-color: white;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 3px;
  text-align: center;
}

.marker-window p:first-child {
  font-size: 20px;
  margin: 0px;
}

.marker-window p:last-child {
  margin: 0px;
}