.nav {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  z-index: 5;

  display: flex;
  justify-content: center;

  background-color: black;
  color: white;

  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2)
}

.nav-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
  justify-content: space-between;
}

.nav-title {
  font-size: 22px;
  font-weight: 700;
  font: oswald-medium, oswald, sans-serif;
}

.option {
  position: relative;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 3px;
  color: white;
  cursor: pointer;
}

.option::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;

  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out 0s;
}

.option:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: #bdbdbd;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px, rgba(0, 0, 0, 0.01) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
}