.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bc-title {
  font-size: 4rem;
  margin-top: 0px;
  margin-bottom: 0.3em;
}

.bc-subtitle {
  font-size: 2rem;
  margin-top: 0px;
}

.background-buttons {
  display: flex;
  color: black;
  justify-content: center;
  margin-bottom: 100px;
}

.hero {
  font-size: calc(10px + 2vmin);
  z-index: 1;
  min-height: 100vh;
  background: url("/hero-image.png") no-repeat center center fixed;
}

.sub-hero {
  font-size: calc(10px + 2vmin);
  z-index: 1;
  background: url("/sub-hero-image.jpg") no-repeat;
  min-height: 350px;
}

.menu-section p {
  font-weight: 500;
  margin: 0px;
  font-size: 1.7em;
  letter-spacing: 2px;
}