h2 {
  margin: 0px;
}

.row {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.column {
  flex: 1;
  padding: 0 60px;
}

.pickup-details {
  padding: 15px 0;
}

.pickup-details p {
  margin: 0px;
}

.pickup-details p:first-child {
  font-weight: bold;
  font-size: 1.1em;
}

.f-section {
  margin: 15px 0px;
}

.f-section p:first-child {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
}

.f-section textarea {
  min-height: 54px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 8px;
  margin-top: 8px;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  overflow-wrap: break-word;
  box-sizing: border-box;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.f-section textarea:focus {
  outline: none;
}

.continue {
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #656565;
  border-radius: 3px;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  border: 0px solid #c2c2c2;
  margin: 30px 0px;

  transition: all 0.3s ease-in-out;
}

.continue:hover {
  background-color: black;
}

/* Order Summary */
.order-summary {
  background-color: #eeeeee;
}

.os-items-container {
  padding: 20px 30px;
}

.os-items-container p {
  margin: 0px;
}

.os-items-container p:first-child {
  font-weight: bold;
  font-size: 16px;
}


.tip-container {
  border-top: 2px solid rgba(0, 0, 0, .05);
  padding: 30px 30px 25px;
}

.tip-container p {
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
}

.tip-row {
  display: flex;
  margin: 5px 0px;
}

.tip-button {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 14px 0px;
  text-align: center;
  background-color: #f7f7f7;
  cursor: pointer;
}

.tip-button:focus {
  outline: none;
}

.tip-active {
  background-color: #dadada;
}

.custom-tip {
  display: flex;
}

.custom-tip input {
  flex: 3;
  border-radius: 0px;
  width: 100%;
  padding: 14px 16px;
  background: #F7F7F7;
  box-sizing: border-box;
  border: none;
}

.custom-tip input:focus {
  box-shadow: none;
}

.custom-tip button {
  flex: 1;
  cursor: pointer;
  color: #f7f7f7;
  background-color: #aaaaaa;
  font-weight: 700;
  border: none;
}

.custom-tip button:focus {
  outline: none;
}

.os-details {
  border-top: 2px solid rgba(0, 0, 0, .05);
  padding: 30px;
}

.os-details p {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
}

.os-details-row {
  display: flex;
  justify-content: space-between;
}

.os-total {
  border-top: 2px solid rgba(0, 0, 0, .05);
  padding: 30px;
}

.os-total p {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}