.confirmation {
  margin-top: 100px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px, rgba(0, 0, 0, 0.01) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.confirmation p {
  margin: 0;
}

.conf-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 35px;
  border-bottom: 1px solid #c2c2c2;

  padding: 0px 180px 35px;
}

.conf-icon {
  color: #7dd4b7;
  font-size: 60px;
  margin-bottom: 40px;
}

.ch-title {
  font-size: 2em;
  padding-bottom: 24px;
}

.ch-order-no {
  font-weight: 700;
  font-size: 1.4em;
  padding-bottom: 20px;
}

.ch-desc {
  color: #696970;
}

/* Details */
.conf-details {
  margin-top: 35px;
}

.cd-group {
  margin-top: 16px;
}

.conf-summary-li {
  margin: 5px 0px 20px;
}

.conf-subtotal {
  color: #5e5e5e;
  padding-bottom: 10px;
}

.conf-total {
  padding-top: 10px;
  border-top: 1px solid #c2c2c2;
  font-size: 1.5em;
}