.details-container {
  margin-top: 5em;
  margin-bottom: 5em;
}

.details {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-right: 200px;
}

.hours-container {
  display: flex;
  flex-direction: row;
  width: 420px;
  background-color: #f0e3d5;
  border-radius: 5px;
}

.hours-descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hours-descr h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.border {
  width: 2px;
  height: auto;
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.hours-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 4px #000000;
}

.hours-row p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hours-table {
  width: 30%;
  margin-right: 20%;
}

.map-container {
  width: 50%;
}

.day {
  margin-right: 15px;
}

.range {
  margin-left: 15px;
}

.inline-block {
  display: inline-block;
  position: relative;
}