.details-container {
  margin-top: 5em;
  margin-bottom: 5em;
}

.details {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-right: 200px;
}

.hours-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hours-row p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hours-table {
  width: 30%;
  margin-right: 20%;
}

.map-container {
  width: 50%;
}

.day {
  margin-right: 15px;
}

.range {
  margin-left: 15px;
}

.inline-block {
  display: inline-block;
  position: relative;
}