.details-container {
  margin-top: 5em;
  margin-bottom: 5em;
}

.details {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 80px;
}

.hours-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f0e3d5;
  border-radius: 5px;
  padding: 200px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.hours-descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opening-hours {
  margin: 0px;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
}

.phone {
  margin-left: auto;
  text-shadow: 1px 1px 1px #000000;
  margin: 0px;
}

.border {
  width: 2px;
  height: auto;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.4);
}

.hours-row {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #000000;
}

.hours-row p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hours-table {
  width: 30%;
  margin-right: 20%;
}

.map-container {
  width: 50%;
}

.day {
  font-size: 1.5rem;
}

.range {}

.inline-block {
  display: inline-block;
  position: relative;
}