.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url("/menuImage.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  color: white;

  font-family: Futura;
}

.menu-hc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px;
}

.menu-title {
  position: relative;
  font-size: 5em;
  font-weight: 700;
  padding: 0px 20px 5px;
  margin-bottom: 15px;
}

.menu-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: white;
}

.menu-intro {
  font-weight: 500;
  font-size: 1.1em;
  width: 40%;
}

.menu-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;

  position: -webkit-sticky;
  position: sticky;
  top: 55px;
  z-index: 5;
}

.menu-nav-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
}

.menu-nav button {
  padding: 15px 10px 15px;
  margin-right: 10px;

  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.menu-content {
  width: 70%;
}

.category-container {
  display: flex;
  justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 52px;
  text-align: end;
  z-index: 10;
}

.category-dropdown {
  width: 230px;
  text-align: start;
}

.section-container {
  text-align: start;
}

.section-border {
  height: 1px;
  width: 100%;
  background-color: lightgray;
  margin-top: 20px;
}

.section-title-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.section-title-container:hover {
  cursor: pointer;
}

.section-title {
  font-size: 20px;
  font-family: CircularMed;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0.25px;
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

.basic-grid {
  margin-top: 8px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 140px;
}


.slide-transition {
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}