:root {
  --order-margin: 100px;
  --order-padding: 20px;
}

.order-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.4s ease;
  font-family: Futura;
}

.order-inner {
  width: 70%;
  /* max-width: 1100px; */
  margin: var(--order-margin) 50px var(--order-margin);
  padding: var(--order-padding) 0px 0px 0px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px, rgba(0, 0, 0, 0.01) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
}

.order-header {
  font-family: Futura;
  padding: 0px var(--order-padding) 0px var(--order-padding);
}

.order-header p {
  margin: 0px;
}

.order-header p:first-child {
  font-weight: 460;
  font-size: 1.4em;
}

.order-location {
  display: flex;
  align-items: center;
}

.order-time-container {
  font-family: Futura;
  display: flex;
  align-items: center;
  border-top: 1px lightgray solid;
  border-bottom: 1px lightgray solid;
  margin-top: 15px;
  padding: 6px var(--order-padding) 6px var(--order-padding);
  flex-wrap: wrap;
}

.order-time-container p {
  margin: 0px 10px 0px 10px;
  color: #8c8c8c;
}

.oval {
  padding: 5px 30px 5px 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px, rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
}

.oval-exterior {
  margin: 3px 0px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 0px, rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
}

.pickup {
  background-color: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 0px, rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
}

.switch {
  position: relative;
  display: flex;
  padding: 5px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 0px, rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
  background-color: #f8f8f8;
}

.switch-background {
  position: absolute;
  background-color: black;
  border-radius: 20px;
  height: 32px;
  width: 50%;
  z-index: 1;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.switch-option {
  width: 50px;
  text-align: center;
  padding: 5px 30px 5px 30px;
  border-radius: 20px;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch-select {
  color: white;
}

.switch-disabled {
  color: #bbbbbb;
  cursor: default;
  font-size: 12px;
  padding: 0px 30px 0px 30px;
  border-radius: 0px;
}

.switch-disabled span:last-child {
  font-size: 10px;
}

.later-container {
  display: flex;
  align-items: center;
  animation: fadein 0.3s;
  white-space: nowrap;
  margin: 3px 0px;
}

.time-text {
  width: 22px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.time {
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.time:hover {
  cursor: pointer;
}



/* Menu */
.order-menu {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.order-category {
  text-align: start;
  border-right: 1px solid lightgray;
  max-width: 150px;
}

.order-cart {
  padding: 0px 15px;
  width: 100%;
  box-sizing: border-box;
}

.col {
  display: flex;
  flex-direction: column;
}

/* Order Category */
.oc-option {
  padding: 0px 15px;
  transition: all 0.2s ease-in-out;
}

.oc-option:hover {
  cursor: pointer;
  background-color: lightgray;
}

.oc-selected {
  position: relative;
  background-color: lightgray;
}

.oc-selected:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
}

/* Order Items */
.order-items {
  display: grid;
  gap: 1rem;
  grid-auto-rows: min-content;
  margin: 30px;
}

/* Order Basket */
.order-basket {
  width: 300px;
  border-left: 1px solid lightgray;
  box-sizing: border-box;
}

.ob-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 0px 20px;
}

.ob-summary-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 40px;
  text-align: center;
}

.shopping-icon {
  color: lightgray;
}

.ob-border {
  height: 2px;
  background-color: black;
  width: calc(100% - 30px);
  align-self: center;
}

.ob-line-container {
  padding: 20px;
}

.ob-summary-line {
  display: flex;
  justify-content: space-between;
}

.ob-summary-line p {
  margin: 0px;
}

.checkout-container {
  padding: 0px 20px;
}

.checkout {
  align-self: center;
  padding: 15px 0px;
  font-size: 1em;
  color: white;
  background-color: black;
  transition: opacity 0.15s ease-in;

  display: flex;
  justify-content: center;

  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px, rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
  cursor: pointer;
}

.checkout:hover {
  opacity: 0.8;
}

.checkout-disabled {
  background-color: gray;
  cursor: default;
}

.checkout-disabled:hover {
  opacity: 1;
}

/* Line Item */
.li-spacing {
  border-bottom: 1px solid black
}

.line-item {
  margin-top: 20px;
  padding-bottom: 20px;
}

.li-container {
  display: flex;
}

.li-container p {
  margin: 0px;
}

.li-quant-c {
  display: flex;
  flex-basis: 30px;
  align-content: flex-start;
}

.li-desc-c {
  display: flex;
  flex-direction: column;
  flex: 2 1 0%;
}

.li-details {
  margin-left: 30px;
  margin-top: 5px;
}

.li-instruction-container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: normal;
  max-height: normal * 2;
}

.li-instruction {
  font-size: .85em;
  color: #696970;
  margin: 0px;
}

.li-options {
  display: flex;
  margin-top: 8px;
}

.li-options p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.li-options p:hover {
  cursor: pointer;
}

.li-options p:first-child {
  margin-right: 18px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

/* Alt Checkout */

.checkout-alt {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 40px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.checkout-alt:hover {
  background-color: white;
  color: black;
}



/* AltSummaryModal */
.AltSummaryModalOverlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out;
  z-index: 30;
  height: 0%;
}

.AltSummaryModalOverlay--after-open {
  height: 100%;
}

.AltSummaryModalOverlay--before-close {
  height: 0%;
}

.alt-summary-container {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Futura;
  box-sizing: border-box;
}

.alt-cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.alt-summary-close {
  position: absolute;
  top: 0px;
  right: 20px;
  cursor: pointer;
}

/* Alt Menu Sections */

.alt-category-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 5px;
  border-top: 1px solid lightgray;
  cursor: pointer;
}

.alt-category-title {
  font-size: 1.2rem;
  margin: 0;
}

@media (max-width: 700px) {
  .order-inner {
    margin: 55px 0px 0px;
  }

  .order-menu {
    padding-bottom: 80px;
  }
}