:root {
  --order-margin: 40px;
  --order-padding: 20px;
}

.order-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-inner {
  width: 70%;
  margin: var(--order-margin) 0px var(--order-margin) 0px;
  padding: var(--order-padding) 0px 0px 0px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px, rgba(0, 0, 0, 0.01) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
}

.order-header {
  padding: 0px var(--order-padding) 0px var(--order-padding);
}

.order-header p {
  margin: 0px;
}

.order-header p:first-child {
  font-weight: bold;
  font-size: 1.4em;
}

.order-location {
  display: flex;
  align-items: center;
}

.order-time-container {
  display: flex;
  align-items: center;
  border-top: 1px lightgray solid;
  border-bottom: 1px lightgray solid;
  margin-top: 15px;
  padding: 10px var(--order-padding) 10px var(--order-padding);
}

.order-time-container p {
  margin: 0px 10px 0px 10px;
  color: #8c8c8c;
}

.oval {
  padding: 5px 30px 5px 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px, rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
}

.pickup {
  background-color: #13AA6D;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 0px, rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
}

.switch {
  /* padding: 5px 30px 5px 30px; */
  /* border-radius: 20px; */
}

.time {
  padding: 5px 20px 5px 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.time:hover {
  cursor: pointer;
}


/* Menu */
.order-menu {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.order-category {
  grid-column: 1 / 2;
  text-align: start;
  border-right: 1px solid lightgray;
  max-width: 150px;
}

.order-content {
  grid-column: 2 / 3;
}

.order-cart {
  grid-column: 3 / 4;
}


.col {
  display: flex;
  flex-direction: column;
}

/* Order Category */
.oc-option {
  padding: 0px 15px;
  transition: all 0.2s ease-in-out;
}

.oc-option:hover {
  cursor: pointer;
  background-color: lightgray;
}

.oc-selected {
  position: relative;
  background-color: lightgray;
}

.oc-selected:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #13AA6D;
}

/* Order Items */
.order-items {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 140px;
  margin: 30px;
}

/* Order Basket */
.order-basket {
  width: 300px;
  border-left: 1px solid lightgray;
}

.ob-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 0px 20px;
}

.ob-header p:first-child {
  font-weight: bold;
}

.ob-summary-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 40px;
  text-align: center;
}

.shopping-icon {
  color: lightgray;
}

.ob-border {
  height: 2px;
  background-color: black;
  width: calc(100% - 30px);
  align-self: center;
}

.ob-line-container {
  padding: 20px;
}

.ob-summary-line {
  display: flex;
  justify-content: space-between;
}

.ob-summary-line p {
  margin: 0px;
}

.checkout-container {
  padding: 0px 20px;
}

.checkout {
  align-self: center;
  padding: 15px 0px;
  font-weight: bold;
  font-size: 1em;
  color: white;
  background-color: #13AA6D;
  transition: opacity 0.15s ease-in;

  display: flex;
  justify-content: center;

  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px, rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(0, 0, 0, 0.01) 0px 0px 5px 0px;
}

.checkout:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Line Item */
.li-spacing {
  border-bottom: 1px solid black
}

.line-item {
  margin-top: 20px;
  padding-bottom: 20px;
}

.li-container {
  display: flex;
}

.li-container p {
  margin: 0px;
}

.li-quant-c {
  display: flex;
  flex-basis: 30px;
  align-content: flex-start;
}

.li-desc-c {
  display: flex;
  flex-direction: column;
  flex: 2 1 0%;
}

.li-details {
  margin-left: 30px;
  margin-top: 5px;
}

.li-instruction-container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: normal;
  max-height: normal * 2;
}

.li-instruction {
  font-size: .85em;
  color: #696970;
  margin: 0px;
}

.li-options {
  display: flex;
  margin-top: 8px;
}

.li-options p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.li-options p:hover {
  cursor: pointer;
}

.li-options p:first-child {
  margin-right: 18px;
}



/* Modal */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s ease-in-out;
  z-index: 15;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.m-image {
  display: block;
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  left: 0;
  position: relative;
}

.m-title {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 3px;
  margin: 0px;
}

.m-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #000;
}

.m-instructions {
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}

.m-content-container {
  padding: 25px;
  max-width: 350px;
}

.m-details {
  position: relative;
  border-bottom: 1px solid gray;
}

.m-request-header {
  margin-bottom: 5px;
}

.textarea-wrapper {
  position: relative;
}

.m-text {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 80px;
  padding: 8px 16px;
  font-size: 14px;
  box-sizing: border-box;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.m-text:focus {
  outline: none;
}

.m-text::placeholder {
  user-select: none;
}

.textarea-counter {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-weight: bold;
  font-size: 10px;
  user-select: none;
}

.quantity-container {
  display: flex;
  height: 45px;
  padding: 0px 15px;
  align-items: center;
  background-color: black;
  color: white;
}

.quantity {
  width: 35px;
  text-align: center;
  user-select: none;
}

.clickable {
  padding: 3px;
}

.clickable:hover {
  cursor: pointer;
}

.m-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 0px 20px;
  margin-left: 15px;
  width: 100%;
  color: white;
  background-color: #13AA6D;
  user-select: none;
  transition: opacity 0.2s ease-in-out;
}

.m-add p {
  margin: 0px;
}

.m-add:hover {
  cursor: pointer;
  opacity: 0.8;
}

.close-button {
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 10;
  cursor: pointer;
  width: 27px;
  height: 27px;
  text-align: center;
  border-radius: 50%;
  line-height: 26px;
  background: rgba(25, 25, 25, 1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
  border: none;
  padding: 0;

  transition: opacity 0.2s ease-in-out;
}

.close-button:hover {
  opacity: 0.6;
}